* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f7fa;
}
nav {
  background: #0077b6;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position:fixed;
  width: 100%;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
}
nav a.active {
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}
.logo{
  font-weight: bold;
  font-size: x-large;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 7%;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 40px;
  color: #023e8a;
}

.hero-text p {
  font-size: 18px;
  margin: 15px 0 25px;
  color: #555;
}

.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px 7%;
}

.feature-box {
  background: #fff;
  padding: 25px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

footer {
  background: #023e8a;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

img {
  width: 350px;
}

@media(max-width: 768px){
  .hero {
      flex-direction: column;
      text-align: center;
  }

  .hero-text {
      max-width: 100%;
  }

  img {
      margin-top: 20px;
      width: 250px;
  }

  .features {
      flex-direction: column;
      align-items: center;
  }
}